/* dark mode */

.dark {

    background-color: #110038;
    color: white;

    .main-title,
    .title-1,
    .title {
        @include title-dark;
    }


    .logo1 {
        display: none;
    }

    .logo2 {
        width: 102.6px;
        display: block;
        position: absolute;
        top: 7%;
        left: 7%;
    }

    .btn-crear,
    .btn-tema,
    .btn-tema2 {
        @include btn-dark;


    }


    .mis-guifos a {
        color: white;

    }

    .mis-guifos button {
        background-color: #110038;
        font-family: "Chakra Petch", sans-serif;
        color: #ffffff;
        font-size: 16px;
    }

    .barra-sugerencias {
        @include barra-dark;
    }



    .ventana-search,
    .ventana-crear,
    .dropdown-search {
        @include ventana-dark;
    }


    .drop-content {
        position: absolute;
        z-index: 1;
        transform: translateX(-130px);

        ul {
            background: #b5b5b5;
        }

        button:hover {
            background-color: #2E32FB;
            color: #ffffff;
            cursor: pointer;
            transition: .3 s ease-in-out;
        }

    }

    .btn-buscar {
        background: #B4B4B4;
        color: #8F8F8F;



        &:hover {
            cursor: pointer;
        }

    }

    .title-4 {
        @include title-dark;
    }

    .crear-guifos p {
        color: #110038
    }


    #tendencias_resultados {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;

        img {
            padding: 5px;
        }



    }

    .contenedor-logo-captura {
        img {
            width: 102.6px;
            display: block;
            top: 7%;
            left: 7%;
        }

        .logo1 {
            display: none;
        }

        .logo2 {

            position: absolute;
            top: 7%;
            left: 7%;
        }

    }

    .guifos-botones {

        float: right;

        button {

            @include btn-dark;




        }
    }

    .ventana-crear-captura {

        .btn-cam {
            display: block;
        }

        .btn-capturar,
        .btn-cam {
            display: flex;
            justify-content: center;
            align-content: center;
            @include btn-dark;
            color: #110038;

        }

    }

    .btn-repetir {
        background-color: #110038;
        color: white;
    }

    .btn-subir {
        background: #ee3efe;
        color: #110038;
    }

    .timer {
        margin: 0 .5em;
        padding: 0px 30px;
        float: left;
        text-align: center;

        p {

            color: #110038;
        }
    }

    .video-container-subiendo {
        p {
            color: #110038;

        }

        span {
            color: rgba(17, 0, 56, 0.64);
        }
    }

    .contenedor-exito p {
        color: #110038;

    }

    .btn-copiar,
    .btn-download,
    .btn-cancelar2 {
        background: #cccccc;
    }

    .btn-listo2 {
        background: #ee3efe;
    }
}