@import './variables';
@import './mixin';


.contenedor-logo-captura {
    img {
        width: 102.6px;
        display: block;
        top: 7%;
        left: 7%;
    }

    .logo1 {
        position: absolute;
        top: 7%;
        left: 7%;
    }

    .logo2 {
        display: none;
    }

}

.contenedor {
    margin: 2.4% 6.9%;
}

.ventana-crear {
    display: flex;
    flex-direction: column;
    width: 684px;
    height: 386px;
    margin: 2em auto;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.title-4 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 24px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

    p {
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 5px;
    }

    img {
        margin-right: 10px;
    }
}

.ventana-crear-captura {
    @extend .ventana-crear;
    width: 860px;
    height: 548px;

    .capturar-botones {
        display: flex;
        justify-content: flex-end;
        margin: 1em;

        .btn-cam {
            font-family: $font;
            font-size: 16px;
            width: 36px;
            padding: .4em;
            background: #F7C9F3;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            cursor: pointer;
        }

        .btn-cam2 {
            display: none;
        }

        .btn-capturar {
            @extend .btn-cam;
            width: 144px;
        }
    }

    .video-container {
        margin: 5px auto;
        width: 838px;
        height: 440px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;



        video {
            width: 838px;
            height: 440px;
            object-fit: cover;
        }

    }

    .imagen-gif {
        display: none;
        margin-left: 3px;
        margin-top: 5px;
        width: 832px;
        height: 434px;

    }

    .contenedor-captura {
        width: 838px;
        height: 440px;


    }
}



.crear-guifos {
    display: flex;
    align-items: center;
    align-content: center;

    p {
        margin-left: 1em;
        font-size: 16px;
        font-weight: bold;
    }

    img {
        width: 32px;
        height: 32px;
    }

}

.contenedor-ventana {
    margin: 2em 2em 2em 4em;
}

.parrafo {
    margin: 0 3em;

    p {
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
        white-space: pre-line;
        text-align: justify;
    }

    span {
        font-weight: bold;
        color: #00001A;
    }

}

.btn-record {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    display: flex;

}

.btn-listo {
    height: 36px;
    font-family: $font;
    font-size: 16px;
    width: 144px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color: white;
}


.guifos-botones {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.3em;

    button {
        font-family: $font;
        font-size: 16px;
        width: 144px;
        margin-right: 1em;
        padding: .4em;
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;

        &:hover {

            background: #F7C9F3;
            cursor: pointer;
        }

    }


}

.timer {
    background: #FFFFFF;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin: 0 .5em;
    padding: 0px 30px;
    float: left;
}

.btn-repetir {
    font-size: 16px;
    color: #110038;
    text-align: center;
    line-height: 18px;
    background: #fff4fd;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    width: 144px;
    padding: .4em;

    &:hover,
    &:active {
        background: #f0e5ee;
        outline: 1px dashed #110038;
        outline-offset: -4px;
        cursor: pointer;
    }

}

.btn-subir {
    font-size: 16px;
    color: #110038;
    text-align: center;
    line-height: 18px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    display: flex;
    width: 144px;
    padding: .4em;
    margin-left: 1em;


}

.contenedor-ventana-captura2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    @extend .video-container;


    span {
        text-decoration: line-through;
    }
}

.btn-cancelar2 {

    font-family: $font;
    font-size: 16px;
    width: 144px;
    margin-right: 1em;
    padding: .4em;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;


}

.contenedor-boton-cancelar {
    display: flex;
    justify-content: flex-end;

}

.contenedor-final {
    display: flex;
    justify-content: space-around;

    p {
        font-weight: bold;
    }
}

.contenedor-exito {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.5em;

    button {
        @extend .btn-cancelar2;
        width: 256px;
        margin-top: .5em;

        a {
            text-decoration: none;
            color: #110038;
            font-size: 16px;
        }
    }
}

.contenedor-boton {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    align-content: center;

    button {
        font-size: 16px;
        width: 144px;
        padding: .4em;
        margin-right: 4em;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        margin-top: 1em;


        a {
            text-decoration: none;
        }
    }
}
.contenedor-imgfinal {
    margin-left: 24px;
    margin-top: 27px;
    width: 320px;
    height: 240px;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;

    figure {
        margin: auto;
        img {
            height: 240px;
            
        }
    }
}