@import './variables';
@import './mixin';

.main-title {
    background: $window-color;
    height: 23px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 0 0 #110038;

    p {
        font-size: 12px;
        color: #ffffff;
        margin: 0 .5em;
        letter-spacing: 1px;
    }
}

header {
    @include flexNav;
}

header.captura {
    display: flex;
    justify-content: start;
    align-items: center;


    .contenedor-logo img {
        margin-left: 0;
        transform: translateX(-25px);
        overflow: hidden;
    }
}

.flecha img {
    transform: translateX(-50px);
}

.contenedor-logo {
    img {
        width: 102.6px;
    }
}

.contenedor-botones {
    @include flexNav;

    .btn-crear {
        @include btn-light;

        &:hover {
            background: #e6bbe2;
            outline: 1px dashed #110038;
            outline-offset: -4px;
            cursor: pointer;
        }

    }


    .btn-tema {

        @extend .btn-crear;
        width: 131px;
        margin: 0;
        color: $text-color;
        font-family: $font;
        font-size: 16px
    }

    button.btn-tema2 {

        @extend .btn-tema;
        width: 36px;
        margin-right: 1em;

    }

}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content {
    position: absolute;
    z-index: 1;
    transform: translateX(-130px);




    ul {

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        color: #110038;
        padding: 10px 23px;
        margin-top: 0px;
        list-style: none;
        width: 120px;
        height: auto;

    }



    button {

        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        font-size: 16px;
        margin-bottom: 7px;
        width: 140px;
        height: 36px;

        &:hover {
            background-color: rgb(255, 223, 252);
            cursor: pointer;
            transition: .3 s ease-in-out;
        }

    }


    p {
        margin: 10px;
        text-align: left;
    }

    span {
        text-decoration: underline;
    }
}

.dropdown-search {
    visibility: hidden;
    position: relative;
    flex-direction: column;
    background: #E6E6E6;
    color: #110038;
    margin-top: 0px;
    list-style: none;
    width: 100%;
    height: auto;

    p {
        margin: 0 0 1em 0.5em;
        padding-top: 1em;
    }

    button {
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        font-size: 16px;
        margin-bottom: 7px;
        margin-left: 10px;
        width: 90.5%;
        height: 36px;
        text-align: left;

        &:hover {
            background-color: rgb(255, 223, 252);
            cursor: pointer;
            transition: .3 s ease-in-out;
        }


    }

}

.lupa2,.lupa3,.lupa4 {
    display: none;
}

.lupa1 {
    display: block;
    
}

.show {
    display: block;
}

.mis-guifos {

    margin-left: 20px;





    span {
        text-decoration: underline;

    }

    a {
        font-family: $font;
        font-size: 16px;
        color: #110038;
        font-size: 16px;
        text-decoration: none;
        margin: 0.5em auto;

        &:active {
            color: #b4b4b4;
            outline: none;
        }

    }

    &:hover {
        border: .1px dotted #110038;
        box-shadow: inset 0px 0px .1px .1px #110038;
        cursor: pointer;

    }



}



.toggle {
    width: 75%;
    height: 102px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-size: 16px;
        text-align: center;
        margin: 10px auto;
        display: block;
        width: 150px;
        height: 36px;
    }
}

.menu {
    margin-top: 22px;


}
.mis-guifos button {
    background-color:#fff0f2;
    border: none;
    font-family: "Chakra Petch", sans-serif;
    color: #110038;
    font-size: 16px;

    
}