@mixin flexNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@mixin btn-ver-mas {
    transform: translateY(-60px);
    margin-left: 1em;
    width: 100px;
    padding: 10px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

@mixin btn-light {
    font-family: $font;
    font-size: 16px;
    width: 144px;
    margin-right: 1em;
    padding: .4em;
    color: $text-color;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;

    &:hover {
        border: 1px dotted #110038;
        box-shadow: inset 0px 0px .1px .1px #110038;
        cursor: pointer;
    }

    &:active {
        border: 1px dotted #110038;
    }

}

@mixin btn-dark {
    background: #EE3EFE;
    border: 1px solid #110038;
    font-size: 1rem;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;

    a {
        text-decoration: none;
        color: #FFFFFF;
    }

    &:hover {
        background: #CE36DB;

        span {
            border: 1px dotted #110038;
            width: 100%;
            height: 100%;
        }
    }

}

@mixin title-dark {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

}

@mixin barra-dark {
    border: 1px solid #2E32FB;
}

@mixin ventana-dark {
    background-color: #b4b4b4;
}