@mixin flexNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@mixin btn-ver-mas {
    transform: translateY(-60px);
    margin-left: 1em;
    width: 100px;
    padding: 10px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}