body {
  margin: 0;
  height: 100%;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #fff0f2;
}

.contenedor {
  margin: 2.4% 6.9%;
}

/* dark mode */
.main-title {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.main-title p {
  font-size: 12px;
  color: #ffffff;
  margin: 0 .5em;
  letter-spacing: 1px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header.captura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.captura .contenedor-logo img {
  margin-left: 0;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  overflow: hidden;
}

.flecha img {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.contenedor-logo img {
  width: 102.6px;
}

.contenedor-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contenedor-botones .btn-crear, .contenedor-botones .btn-tema, .contenedor-botones button.btn-tema2, .light .contenedor-botones button.btn-tema2, .light .contenedor-botones .btn-tema {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  width: 144px;
  margin-right: 1em;
  padding: .4em;
  color: #110038;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.contenedor-botones .btn-crear:hover, .contenedor-botones .btn-tema:hover, .contenedor-botones button.btn-tema2:hover {
  border: 1px dotted #110038;
  -webkit-box-shadow: inset 0px 0px .1px .1px #110038;
          box-shadow: inset 0px 0px .1px .1px #110038;
  cursor: pointer;
}

.contenedor-botones .btn-crear:active, .contenedor-botones .btn-tema:active, .contenedor-botones button.btn-tema2:active {
  border: 1px dotted #110038;
}

.contenedor-botones .btn-tema, .contenedor-botones button.btn-tema2, .light .contenedor-botones button.btn-tema2 {
  width: 131px;
  margin: 0;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.contenedor-botones button.btn-tema2 {
  width: 36px;
  margin-right: 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(-130px);
          transform: translateX(-130px);
}

.drop-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  color: #110038;
  padding: 10px 23px;
  margin-top: 0px;
  list-style: none;
  width: 120px;
  height: auto;
}

.drop-content button {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  margin-bottom: 7px;
  width: 140px;
  height: 36px;
}

.drop-content button:hover {
  background-color: #ffdffc;
  cursor: pointer;
  -webkit-transition: .3 s ease-in-out;
  transition: .3 s ease-in-out;
}

.drop-content p {
  margin: 10px;
  text-align: left;
}

.drop-content span {
  text-decoration: underline;
}

.dropdown-search {
  visibility: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  color: #110038;
  margin-top: 0px;
  list-style: none;
  width: 100%;
  height: auto;
}

.dropdown-search button {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  margin-bottom: 7px;
  margin-left: 10px;
  width: 90.5%;
  height: 36px;
  text-align: left;
}

.dropdown-search button:hover {
  background-color: #ffdffc;
  cursor: pointer;
  -webkit-transition: .3 s ease-in-out;
  transition: .3 s ease-in-out;
}

.lupa-active {
  display: block;
}

.lupa-inactive {
  display: none;
}

.show {
  display: block;
}

.mis-guifos {
  margin-left: 20px;
}

.mis-guifos span {
  text-decoration: underline;
}

.mis-guifos a {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  font-size: 16px;
  text-decoration: none;
  margin: 0.5em auto;
}

.mis-guifos a:active {
  color: #726199;
}

.mis-guifos:hover {
  border: .1px dotted #110038;
  -webkit-box-shadow: inset 0px 0px .1px .1px #110038;
          box-shadow: inset 0px 0px .1px .1px #110038;
  cursor: pointer;
}

.toggle {
  width: 75%;
  height: 102px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 150px;
  height: 36px;
}

.menu {
  margin-top: 22px;
}

/* dark mode */
/* dark mode */
.title-1 {
  height: 25px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  margin-top: 1em;
  -webkit-box-shadow: inset -1px 0px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px 0px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.title-1 p {
  color: #ffffff;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 5px;
}

.ventana-search {
  padding: 10px;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 1px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 1px 0 0 #FFFFFF;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.searchterm {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
  height: 48px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  padding-left: 15px;
}

.btn-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 102px;
  height: 36px;
  margin-left: 10px;
  color: #B4B4B4;
  margin-left: 10px;
  font-size: 16px;
}

.btn-buscar:hover {
  cursor: pointer;
}

/*fin de barra busqueda */
.sugerencias {
  margin-top: 1em;
}

.barra-sugerencias, .tendencias .barra-tendencias, .light .tendencias .barra-tendencias {
  width: 100%;
  padding: 10px 0;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 1px 1px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 1px 1px 0 0 #80687D;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
}

.box {
  padding-top: 2em;
}

.contenedor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-imagenes .gif img {
  border: 0 1px 1px 0 solid #E6E6E6;
  width: 313px;
  height: 313px;
}

.title, .title-2, .light .title-2 {
  height: 18px;
  width: 313px;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.title p, .title-2 p, .light .title-2 p {
  margin-left: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
}

.title img, .title-2 img, .light .title-2 img {
  display: inline;
  margin: 0 .3em;
}

.ver-mas {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  margin-left: 1em;
  width: 100px;
  padding: 10px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
}

.ver-mas:hover {
  border: 1px dotted #110038;
  -webkit-box-shadow: inset 0px 0px .1px .1px #110038;
          box-shadow: inset 0px 0px .1px .1px #110038;
  cursor: pointer;
}

/* tendencias */
.tendencias {
  width: 100%;
  padding: 5px 0;
  margin-top: 2em;
  position: relative;
}

.tendencias .barra-tendencias {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
}

.contenedor-imagenes2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-imagenes2 .gif-2 img {
  width: 313px;
  height: 313px;
  padding-top: 15px;
}

.contenedor-imagenes2 .gif-3 img {
  width: 650px;
  height: 313px;
  padding-top: 15px;
}

.title-2 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.title-2 p {
  padding-left: 10px;
}

.contenedor-logo-captura img {
  width: 102.6px;
}

.ventana-crear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 684px;
  height: 386px;
  margin: auto;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.title-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.title-4 p {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 5px;
}

.crear-guifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.crear-guifos p {
  margin-left: 1em;
  font-size: 16px;
  font-weight: bold;
}

.crear-guifos img {
  width: 32px;
  height: 32px;
}

.contenedor-ventana {
  margin: 2em 2em 2em 4em;
}

.parrafo {
  margin: 0 3em;
}

.parrafo p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
  white-space: pre-line;
  text-align: justify;
}

.parrafo span {
  font-weight: bold;
  color: #00001A;
}

.guifos-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.3em;
}

.guifos-botones button {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  width: 144px;
  margin-right: 1em;
  padding: .4em;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.guifos-botones button:hover {
  background: #F7C9F3;
  cursor: pointer;
}

/* dark mode */
.dark {
  background-color: #110038;
  color: white;
}

.dark .main-title,
.dark .title-1,
.dark .title,
.dark .title-2 {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .btn-crear, .dark .contenedor-botones .btn-tema, .contenedor-botones .dark .btn-tema, .dark .contenedor-botones button.btn-tema2, .contenedor-botones .dark button.btn-tema2,
.dark .btn-tema,
.dark .contenedor-botones button.btn-tema2,
.contenedor-botones .dark button.btn-tema2,
.dark .btn-tema2 {
  background: #EE3EFE;
  border: 1px solid #110038;
  font-size: 1rem;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.dark .btn-crear a, .dark .contenedor-botones .btn-tema a, .contenedor-botones .dark .btn-tema a, .dark .contenedor-botones button.btn-tema2 a, .contenedor-botones .dark button.btn-tema2 a,
.dark .btn-tema a,
.dark .contenedor-botones button.btn-tema2 a,
.contenedor-botones .dark button.btn-tema2 a,
.dark .btn-tema2 a {
  text-decoration: none;
  color: #FFFFFF;
}

.dark .btn-crear:hover, .dark .contenedor-botones .btn-tema:hover, .contenedor-botones .dark .btn-tema:hover, .dark .contenedor-botones button.btn-tema2:hover, .contenedor-botones .dark button.btn-tema2:hover,
.dark .btn-tema:hover,
.dark .contenedor-botones button.btn-tema2:hover,
.contenedor-botones .dark button.btn-tema2:hover,
.dark .btn-tema2:hover {
  background: #CE36DB;
}

.dark .btn-crear:hover span, .dark .contenedor-botones .btn-tema:hover span, .contenedor-botones .dark .btn-tema:hover span, .dark .contenedor-botones button.btn-tema2:hover span, .contenedor-botones .dark button.btn-tema2:hover span,
.dark .btn-tema:hover span,
.dark .contenedor-botones button.btn-tema2:hover span,
.contenedor-botones .dark button.btn-tema2:hover span,
.dark .btn-tema2:hover span {
  border: 1px dotted #110038;
  width: 100%;
  height: 100%;
}

.dark .mis-guifos a {
  color: white;
}

.dark .barra-sugerencias, .dark .tendencias .barra-tendencias, .tendencias .dark .barra-tendencias {
  border: 1px solid #2E32FB;
}

.dark .ventana-search,
.dark .dropdown-search {
  background-color: #b4b4b4;
}

.dark .drop-content {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(-130px);
          transform: translateX(-130px);
}

.dark .drop-content ul {
  background: #b5b5b5;
}

.dark .drop-content button:hover {
  background-color: #2E32FB;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: .3 s ease-in-out;
  transition: .3 s ease-in-out;
}

.dark .btn-buscar {
  background: #B4B4B4;
  color: #8F8F8F;
}

.dark .btn-buscar:hover {
  cursor: pointer;
}

.dark .title-4 {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .guifos-botones {
  background: #EE3EFE;
  border: 1px solid #110038;
  font-size: 1rem;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.dark .guifos-botones a {
  text-decoration: none;
  color: #FFFFFF;
}

.dark .guifos-botones:hover {
  background: #CE36DB;
}

.dark .guifos-botones:hover span {
  border: 1px dotted #110038;
  width: 100%;
  height: 100%;
}

.dark #tendencias_resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dark #tendencias_resultados img {
  padding: 5px;
}

.light {
  /* dark mode */
  /* dark mode */
  /*fin de barra busqueda */
  /* tendencias */
}

.light .main-title {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.light .main-title p {
  font-size: 12px;
  color: #ffffff;
  margin: 0 .5em;
  letter-spacing: 1px;
}

.light header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.light header.captura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light header.captura .contenedor-logo img {
  margin-left: 0;
  background-image: url(../img/gifOF_logo.png);
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  display: none;
}

.light .flecha img {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.light .contenedor-logo img {
  width: 102.6px;
}

.light .contenedor-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.light .contenedor-botones .btn-crear, .light .contenedor-botones button.btn-tema2, .light .contenedor-botones .btn-tema {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  width: 144px;
  margin-right: 1em;
  padding: .4em;
  color: #110038;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light .contenedor-botones .btn-crear:hover, .light .contenedor-botones .btn-tema:hover, .light .contenedor-botones button.btn-tema2:hover {
  border: 1px dotted #110038;
  -webkit-box-shadow: inset 0px 0px .1px .1px #110038;
          box-shadow: inset 0px 0px .1px .1px #110038;
  cursor: pointer;
}

.light .contenedor-botones .btn-crear:active, .light .contenedor-botones .btn-tema:active, .light .contenedor-botones button.btn-tema2:active {
  border: 1px dotted #110038;
}

.light .contenedor-botones .btn-tema, .light .contenedor-botones button.btn-tema2 {
  width: 131px;
  margin: 0;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.light .contenedor-botones button.btn-tema2 {
  width: 36px;
  margin-right: 1em;
}

.light .dropdown {
  position: relative;
  display: inline-block;
}

.light .drop-content {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(-130px);
          transform: translateX(-130px);
}

.light .drop-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  color: #110038;
  padding: 10px 23px;
  margin-top: 0px;
  list-style: none;
  width: 120px;
  height: auto;
}

.light .drop-content button {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  margin-bottom: 7px;
  width: 140px;
  height: 36px;
}

.light .drop-content button:hover {
  background-color: #ffdffc;
  cursor: pointer;
  -webkit-transition: .3 s ease-in-out;
  transition: .3 s ease-in-out;
}

.light .drop-content p {
  margin: 10px;
  text-align: left;
}

.light .drop-content span {
  text-decoration: underline;
}

.light .dropdown-search {
  visibility: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  color: #110038;
  margin-top: 0px;
  list-style: none;
  width: 100%;
  height: auto;
}

.light .dropdown-search button {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  margin-bottom: 7px;
  margin-left: 10px;
  width: 90.5%;
  height: 36px;
  text-align: left;
}

.light .dropdown-search button:hover {
  background-color: #ffdffc;
  cursor: pointer;
  -webkit-transition: .3 s ease-in-out;
  transition: .3 s ease-in-out;
}

.light .lupa-active {
  display: block;
}

.light .lupa-inactive {
  display: none;
}

.light .show {
  display: block;
}

.light .mis-guifos {
  margin-left: 20px;
}

.light .mis-guifos span {
  text-decoration: underline;
}

.light .mis-guifos a {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  font-size: 16px;
  text-decoration: none;
  margin: 0.5em auto;
}

.light .mis-guifos a:active {
  color: #726199;
}

.light .mis-guifos:hover {
  border: .1px dotted #110038;
  -webkit-box-shadow: inset 0px 0px .1px .1px #110038;
          box-shadow: inset 0px 0px .1px .1px #110038;
  cursor: pointer;
}

.light .toggle {
  width: 75%;
  height: 102px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .toggle button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 150px;
  height: 36px;
}

.light .menu {
  margin-top: 22px;
}

.light .title-1 {
  height: 25px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  margin-top: 1em;
  -webkit-box-shadow: inset -1px 0px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px 0px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.light .title-1 p {
  color: #ffffff;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 5px;
}

.light .ventana-search {
  padding: 10px;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 1px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 1px 0 0 #FFFFFF;
}

.light .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.light .searchterm {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
  height: 48px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  padding-left: 15px;
}

.light .btn-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 102px;
  height: 36px;
  margin-left: 10px;
  color: #B4B4B4;
  margin-left: 10px;
  font-size: 16px;
}

.light .btn-buscar:hover {
  cursor: pointer;
}

.light .sugerencias {
  margin-top: 1em;
}

.light .barra-sugerencias, .tendencias .light .barra-tendencias, .light .tendencias .barra-tendencias {
  width: 100%;
  padding: 10px 0;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 1px 1px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 1px 1px 0 0 #80687D;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
}

.light .box {
  padding-top: 2em;
}

.light .contenedor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light .contenedor-imagenes .gif img {
  border: 0 1px 1px 0 solid #E6E6E6;
  width: 313px;
  height: 313px;
}

.light .title, .light .title-2 {
  height: 18px;
  width: 313px;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.light .title p, .light .title-2 p {
  margin-left: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
}

.light .title img, .light .title-2 img {
  display: inline;
  margin: 0 .3em;
}

.light .ver-mas {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  margin-left: 1em;
  width: 100px;
  padding: 10px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
}

.light .ver-mas:hover {
  border: 1px dotted #110038;
  -webkit-box-shadow: inset 0px 0px .1px .1px #110038;
          box-shadow: inset 0px 0px .1px .1px #110038;
  cursor: pointer;
}

.light .tendencias {
  width: 100%;
  padding: 5px 0;
  margin-top: 2em;
  position: relative;
}

.light .tendencias .barra-tendencias {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
}

.light #tendencias_resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light #tendencias_resultados img {
  padding: 5px;
}

.light .title-2 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.light .title-2 p {
  padding-left: 10px;
}
/*# sourceMappingURL=main.css.map */